
<!-- Left Arrow Button -->
<div style="display: flex; width: 100%; height: 400px;">
    <!-- <i (click)="dismiss()" class="fa-sharp fa-solid fa-circle-xmark float-right"></i> -->

    <button *ngIf="currentPage > 1" (click)="prevPage()" style="height: 50px; border: none; background-color: white; margin: 15% 0%;"><i class='fas fa-angle-left' style='font-size:36px'></i>
    </button>
    <div id="pdf-flipbook" ></div>


<!-- Right Arrow Button -->
<button *ngIf="currentPage < 7" (click)="nextPage()"  style="height: 50px; border: none; background-color: white; margin: 15% 0%;"><i class='fas fa-angle-right' style='font-size:36px'></i>
</button>

</div>
