#pdf-flipbook {
  width: 100%;
  height: 400px;
  margin: 0 auto;
  background: #fff;
  position: relative;
}

.page {
  display: inline-block;
  width: 800px;
  height: 400px;
  margin: 5px;
}


  
  .left-arrow {
    margin: 183px 3px;
  }
  .right-arrow {
    margin: 183px 3px;
  }
  .hidden {
    display: none; /* This will hide the button */
  }
  