
.none{
  width: 16%;
}
.mobile-view{
  display: none;
}
.mynavbar{
  display: none;
}
.navbar .megamenu {
  padding: 1rem;
}

.head{
  font-weight: 900;
  margin: 0 0 -4px; 
  font-size: 9px;
  // padding: 0 86px 0 0;
  text-align: center;

}
header {
  nav {
    background-color: #fff;
    border-bottom: 1px solid #e3e3e3;
    .navbar-brand {
      img {
        min-height: 50px;
        max-height: 50px;
      }
    }

    .nav-item {
      position: relative;
      margin-right: 0rem;
      font-size: 1rem;
      font-weight: bold;

      a.nav-link {
        color: #000 !important;
      }

      a.active {
        font-weight: bold;
      }

      &::before {
        content: "";
        position: absolute;
        background: var(--primary-color);
        width: 50%;
        height: 3px;
        left: 20%;
        bottom: 0;
        transform: scaleX(0);
        transition: 0.5s ease-out;
      }

      &:hover::before {
        transform: scaleX(1);
      }
    }
  }
  .google{
    width: 19px;
  }
  .nvdia{
    width: 48px;
    margin: 0px 15px 0 -27px;  }
 
  .aws{
    width: 58px;
    margin: -6px 0 -7px -25px;
    
  }
  .awss{
    width: 55px;
    margin: -7px 11px -4px -25px;
  }
  .nav{
    margin: 9px 0 0 93px;

  }

  .dropdown-menu {
    position: fixed;
    width: 100%;
    top: 69px;
    border-radius: 0;
    will-change: max-height;
    -webkit-transition: 400ms cubic-bezier(0.02, 0.01, 0.47, 1);
    transition: 400ms cubic-bezier(0.02, 0.01, 0.47, 1);
    box-shadow: 0 1px 3px rgba(23,23,23,0.24);
    cursor: pointer;

    a {
      font-weight: bold;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }

  .nav-link {
    i {
      transition: transform 0.2s;
    }
  }

  .nav-link.show {
    .rotate-icon {
      transform: rotate(180deg);
    }
  }

  .dropdown-toggle::after {
    border: 0;
  }
}

.language-switch {
  width: auto;
}

.form-select:focus {
  border-color: #ddd;
  outline: 0;
  box-shadow: 0 0 0 0;
}



@media only screen and (max-width: 767px) {
  .none{
    display: none;
  }
  .aws{
    width: 40px;
    margin: 0 0 -11px -11px;
  }
  .nvdia{
    width: 57px;
    margin: 0px 0 -5px -12px;
  }
  .google{
    width: 21px;
    margin: 2px 0;
  }
  .mobile-view{
    display: flex;
  }

  .container{
    display: flex;
    flex-wrap: nowrap;
  
  }
  .imgul{
    display: flex;
    flex-direction: row;
    gap:27px

  }
  // .nav{
  //   margin: 0 -46px;
  // }
  // #mynavbar .ulnav{
  //   margin: 0 -46px !important;
  //   flex-direction: row !important;
  // }

//  .nav-link{
//   width: 15%;
//  }

  .navbar-toggler{
    height: 55px;
    width: 55px;
    border-radius: 50%;

 

  }

  #mynavbar {
    position: absolute;
    background-color: rgb(255, 255, 255);
    z-index: 1;
    width: 100%;
    left: 0px;
    padding: 1rem;
    top: 72px;
    margin-left: 0px !important;
    height: auto;
    overflow-y: scroll;
    max-height: 80vh;
    -webkit-transition: 400ms cubic-bezier(0.02, 0.01, 0.47, 1);
    transition: 400ms cubic-bezier(0.02, 0.01, 0.47, 1);
    box-shadow: 0 10px 10px -10px #000;
  }

  .nav-item {
    &::before {
      height: 0 !important;

    }
  }

  .navbar-toggler:focus {
    box-shadow: 0 0 0 0 !important;
  }

  .common-space {
    padding: 5rem 2rem;
  }

  .dropdown-menu {
    position: relative !important;
    border: 0;
    top: 0 !important;
    box-shadow: 0 0 0 0 #fff !important;
  }
  .flag{
    display: none;
  }
}

@media (max-width: 1024px) {
  .nav-item {
    margin-right: 1rem;

    a {
      font-size: 0.8rem;

    }
  }

  .navbar-brand {
    img {
      // min-height: 45px;
      // max-height: 45px;
      height: 0px;
        width: 87px;
    }
  }
}

// #img{
//   margin: 0 -16px;
// }
// #arebic{
//   padding: 0px 40px 0px 0px;
//   ;
// }


